@using MyWebProject.Models
@model CnicDetails
@{
    ViewBag.Title = "CDView";
}

<div class="panel panel-primary container-fluid col-lg-3 col-lg-push-3">
    <div class="panel-heading">Cnic @Model.CnicNumber Details</div>
    <div class="panel-body ">

        <div class="col-lg-push-1" style="padding: 0px 0px 10px 10px">
            <img src="~/images/avatar.jpg" style="height: 250px; width: 250px " />
            <div style="padding: 10px 0px 0px 0px ">
                <p>
                    Cnic Details ID : <b>
                        @Model.Id
                    </b>
                </p>
                <p>
                    Cnic Number :  <b>
                        @Model.CnicNumber
                    </b>
                </p>
                <p>
                    Student Id : <b>@Model.StudentId</b>
                </p>
            </div>
        </div>
    </div>




</div>