@using MyWebProject.Models

@model List<Course>

<h2>Course Details </h2>

<table class="table table-striped">
    <tr>
        <td>
            ID
        </td>

        <td>
            Name
        </td>

        <td>
            Cost
        </td>

        <td>
            Description
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Cost
            </td>
            <td>
                @item.Description
            </td>

        </tr>
    }
</table>