@using MyWebProject.Models

@model List<Enrollment>

<h2>Enrollments Details </h2>

<table class="table table-striped table-bordered col-lg-push-6">
    <thead>
        <tr>
            <th>
                ID
            </th>

            <th>
                Student ID
            </th>

            <th>
                Course ID
            </th>

            <th>
                Joining Date
            </th>
            <th>
                Actions
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.StudentId
                </td>
                <td>
                    @item.CourseId
                </td>
                <td>
                    @item.JoinOndate
                </td>
                <td>
                    <a href="/Home/EView/@item.Id"><span class="glyphicon glyphicon-eye-open"></span></a> |
                    <a href="/Home/EEdit/@item.Id"><span class="glyphicon glyphicon-edit"></span></a> |
                    <a href="/Home/EDelete/@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>