@using MyWebProject.Models

@model List<Student>
<h2>Students Data</h2>

<table class="table table-striped">
    <tr>
        <td>
            ID
        </td>

        <td>
            Name
        </td>

        <td>
            Email
        </td>

        <td>
            Phone
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Phone
            </td>

        </tr>
    }
</table>



