@using MyWebProject.Models
@model Student
@{
    ViewBag.Title = "SView";
}

<div class="panel panel-primary container-fluid col-lg-3 col-lg-push-3">
    <div class="panel-heading">@Model.Name Details</div>
    <div class="panel-body ">

        <div class="col-lg-push-1" style="padding: 0px 0px 10px 10px">
            <img src="~/images/avatar.jpg" style="height: 250px; width: 250px " />
            <div style="padding: 10px 0px 0px 0px ">
                <p>
                    Name : <b>
                        @Model.Name
                    </b>
                </p>
                <p>
                    Email :  <b>
                        @Model.Email
                    </b>
                </p>
                <p>
                    Phone Number : <b>@Model.Phone</b>
                </p>
            </div>
        </div>
    </div>




</div>